*{
    font-family: 'Work Sans', sans-serif;
}
body{
    overflow-x: hidden;
}
/* Header Section styles */
.header{
    background-color: rgba(255, 144, 14, 0.1);
    margin-bottom: 30px;
}
header img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
body{
    margin: 0 auto;
    padding: 0;
}
.primary-btn{
    border: none;
    margin-top: 32px;
    margin-left: 580px;
    margin-right: 580px;
    margin-bottom: 50px;
    width: 180px;
    height: 64px;
    background-color:  #FF900E;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
}
.first-heading{
    padding-top: 100px;
    margin-left: 200px;
    color: #131313;
    font-weight: 700;
    font-size: 45px;
}

ul{
    margin-left: 850px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
    gap: 30px;
}
.main-header{
    margin-top: 150px;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
}
.main-header-title{
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    margin-left: 420px;
    margin-right: 420px;
}


/* multi images section styles */

.multi-images{
    display: flex;
    gap: 73px;
    margin-top: 85px;
    margin-bottom: 130px;
    margin-left: 150px;
}
.multi-images-sub{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.multi-images-sub img{
    height: 200px;
    width: 200px;
}
.span-1{
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
}
.span-2{
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}
.span-3{
    color: #727272;
    font-weight: 500;
    font-size: 45px;
}
p{
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    width: 537px;
    height: 78px;
}
.second-btn{
    border: none;
    margin-top: 32px;
    width: 180px;
    height: 64px;
    background-color:  #FF900E;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
}

/* Main downer section styles  */
.features-section{
    display: flex;
    gap: 100px;
}

.features-main-title h2{
    font-weight: 700;
    font-size: 45px;
    width: 468px;
    height: 106px;
    color: #131313;
    padding-left: 110px;
}
.features-main-title p{
    padding-left: 110px;
    margin-bottom: 30px;
}
.features-sub-title{
    padding-left: 110px;
    margin-bottom: 30px;
}
.double-img img{
    width: 100%;
    display: grid;
}
.third-btn{
    position: relative;
    border: none;
    margin-top: 32px;
    width: 280px;
    height: 200px;
    padding: 35px 30px;
    border-radius: 8px;
    background-color:  #FF900E;
    font-weight: 700;
    font-size: 45px;
    bottom: 100px;
    text-align: center;
    color: #FFFFFF;
}

/* some facts styles */

.some-facts h2{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-left: 100px;
}
.some-facts p{
    margin-left: 100px;
}

/* activity section styles */

.activity-num{
    font-weight: 600;
    font-size: 30px;
    color: #424242;
    
}
.activity{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}
.activity div{
    padding: 25px 25px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 190px;
    height: 160px;
    transition: width 2s , height 2s , transform 2s;
}
.activity div:hover{
    transform: rotate(60deg);
}

/* sponspors section styles */

.sponspor-title{
    color: #131313;
    font-weight: 700;
    font-size: 45px;
    text-align: center;
}
.sponspor-description{
    margin-left: 450px;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}
.sponspor-img{
    margin-bottom: 130px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-evenly;
}
.sponspor-img img{
    width: 166.76px;
    height: 50px;
}

/* footer section styles */

.footer-section{
    color: #424242;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    width: 620px;
    height: 23px;
    background: #FFF4E7;
    border-radius: 8px;
    width: 1440px;
    height: 80px;
    padding-top: 50px;
}

/* Extra section styles */


.extra-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.extra-section-image h2{
    width: auto;
    font-size: 35px;
    padding-left: 100px;
    color: crimson;
}
.extra-section-image img{
    height:540px;
    width: 340px;
    padding-left: 100px;
}
.extra-section-form h2{
    width: auto;
}
input{
    padding: 5px;
    height: 50px;
    width: 250px;
    border-radius: 10px;
    margin-bottom: 10px;
}
textarea{
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
}
button{
    height: 50px;
    width: 200px;
    background-color: blue;
    color: #FFFFFF;
    border-radius: 10px;
}